<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header><h1><%=title %></h1></header>
    <form method="POST" action="/new">
      <label for="text">Message:</label><br />
      <input type="text" id="text" name="text" /><br />
      <label for="name">Your name:</label><br />
      <input type="text" id="name" name="name" />
      <br></br>
      <button type="submit">Submit</button>
    </form>
  <a href="/">Home</a>
  </body>
</html>
