<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header><h1><%=title %></h1></header>
    <ul>
      <% messages.forEach((message) => { %> <%- include('messages/message',
      {message: message.message, user: message.author, added: message.added, id:
      message.id, newPage: false}); %> <% }); %>
    </ul>
    <a href="/new">New Message</a>
  </body>
</html>
